* {
    margin: 0px;
    padding: 0px;
}

/*  style for banner section */
.navbar {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.button {
    background-color: rgb(182, 240, 148);

}

.sign {
    padding: 5px 15px;
    
}

.bd20 {
    color: gray;
}

.banner {
    display: flex;
    margin: 0px 20px 0px 20px;
    background-color: rgb(206, 240, 186);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.explore {
    background-color: rgb(0, 106, 80);
    padding: 10px 15px;
    color: aliceblue;
    font-size: medium;

}

:hover.explore {
    background-color: rgb(12, 9, 39);
    color: aliceblue;
}

.container {
    justify-content: left;
    margin: 5%;
}

.image {
    justify-content: end;

}



/*  style for pillars of Bangladesh */

.pillarsofbd{
    margin: 20px 20px 0px 20px;
    justify-content: space-around;
  
  

   

}

.pillars{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}




.pillar-image {
    margin: 0px 10px 0px 0px;
    background-image:url('assets/card-icon.png');
    background-repeat: no-repeat;
    background-position: left 15px top 15px;


    text-align: left;
    padding: 70px 90px;
    background-color: rgb(245, 241, 235);
    border-radius: 10px;
 
}

/*  style for Vision of future */

.vision-future {
        margin: 20px 20px 0px 20px;
        justify-content: space-around;
}
      


.vision {
    margin: 10px;
    display: flex;
    justify-content: space-around;
  
}

.vision-image1 {
    background-image:url('assets/card-icon.png');
    background-repeat: no-repeat;
    background-position: left 15px top 15px;
    text-align: left;
    margin-top: 10px;
    padding: 70px 90px;


    background-color: rgb(241, 215, 181);
    border-radius: 10px;
    margin: 10px;
}

.btn1 {
    background-color: rgb(42, 142, 230);
    padding: 5px 10px;
    margin: 20px;

}

.btn1:hover {
    background-color: aquamarine;
    color: #092cf7;
}


.vision-image2 {
    background-image:url('assets/card-icon.png');
    background-repeat: no-repeat;
    background-position: left 15px top 15px;

    text-align: left;
    margin-top: 10px;
    padding: 70px 90px;

    background-color: rgb(172, 241, 162);
    border-radius: 10px;
    margin: 10px;
}

.btn2 {
    background-color: rgb(111, 236, 94);
    padding: 5px 10px;
    margin: 20px;

}

.btn2:hover {
    background-color: rgb(33, 63, 53);
    color: rgb(243, 21, 21);
}


.vision-image3 {
    background-image:url('assets/card-icon.png');
    background-repeat: no-repeat;
    background-position: left 15px top 15px;

    text-align: left;
    margin-top: 10px;
    padding: 70px 90px;

    background-color: rgb(215, 235, 248);
    border-radius: 10px;
    margin: 10px;
}

.btn2 {
    background-color: rgb(141, 131, 230);
    padding: 5px 10px;
    margin: 20px;

}

.btn2:hover {
    background-color: rgb(186, 233, 217);
    color: rgb(59, 165, 184);
}


/* quotation */

.quotation {
background-image: url('assets/quote-bg.png');
background-repeat: no-repeat;
background-position: left 15px top 15px;


    margin: 20px 20px 0px 20px;
    justify-content: space-around;
    background-color: rgb(245, 237, 237);
    border-radius: 10px;
    padding: 30px;
}

.poverty {
  font-size: 30px;
}

/* Recent news section */
.recent-news {
    margin: 20px 20px 0px 20px;
    justify-content: space-around;
    background-color: rgb(225, 243, 208);
    border-radius: 10px;
    padding: 30px;}


    .satellitenews {
        margin: 20px 20px 0px 20px;
        justify-content: space-around;
        background-color: rgb(247, 247, 247);
        border-radius: 10px;
        padding: 30px;}

        .satellite{
            background-image: url('assets/satelite.png');
            background-repeat: no-repeat;
            background-position: left 15px top 15px;
            
            
                margin: 20px 20px 0px 20px;
                justify-content: space-around;
                background-color: rgb(245, 237, 237);
                border-radius: 10px;
                padding: 30px;
                text-align: right;
            }